#
#	This is an example command line interface (cli) configuration file.
#
#	This particular file illustrates the necessary options settings to
#	do a single time step point initialization run local data and diurnal winds.  The mesh is set
#	to a specified resolution of 250 meters.  A weather station kml
#	file is written.
#
num_threads              = 4
elevation_file           = /path/to/elevation.tif
time_zone                = auto-detect
initialization_method    = griddedInitialization
match_points             = true
input_speed_grid         = /path/to/speed.tif
input_speed_units        = mps
input_dir_grid           = /path/to/dir_grid.tif
input_wind_height        = 10
units_input_wind_height  = m
diurnal_winds            = true
year                     = 2025
month                    = 4
day                      = 25
hour                     = 12
minute                   = 0
output_speed_units       = mps
output_wind_height       = 10
units_output_wind_height = m
vegetation               = trees
uni_air_temp             = 30
air_temp_units           = C
uni_cloud_cover          = 0
cloud_cover_units        = percent
mesh_resolution          = 500.0
units_mesh_resolution    = m
write_goog_output        = true
write_shapefile_output   = true
write_ascii_output       = true
write_farsite_atm        = false
